.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

mat-card {
  width: 30vw;

  mat-card-header {
    padding-bottom: 10px;
  }

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.mdc-button {
  width: 6rem;
  align-self: center;
}
